body{
  margin: 0;
  padding: 0;
}
.main{
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: black; 
 }
/* nav-bar  */
.nav-bar{
  display: grid;
  grid-template-columns: repeat(12, 1fr) 115px;
  grid-template-rows: auto;
  list-style: none;
  background-color: #fff;
  height: 42px;
}
.nav-bar>.logo{
  grid-column: 1;
  grid-row: 1;
  color: #fff !important;
  background-color: #f44336;
  min-width: 68px;
}
.nav-bar a{
  padding: 10px 16px;
  font-size: 18px;
}
.nav-bar>.logo>a{
  color: #fff;
}
.nav-bar>.rooms{
  grid-column: 2;
  grid-row: 1;
}
.nav-bar>.about{
  grid-column: 3;
  grid-row: 1;
}
.nav-bar>.contact{
  grid-column: 4;
  grid-row: 1;
}
.nav-bar>.book{
  grid-column: 13;
  grid-row: 1;
  background-color: #f1f1f1;
}
.nav-hover:hover{
  color: black;
  background-color: #ccc;
  transition-duration: 0.3s;
}

/* header */

/* rooms */
#rooms{
  margin: 0;
  padding: 16px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 16px;
}
.room-head{
  grid-column: 1/4;
  grid-row: 1;
}
#rooms>.form{
  grid-column: 1/4;
  grid-row: 2;
}
#rooms>.form form{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 16px;
}

#rooms>.form form label p{
  margin: 0;
  padding: 0;
}
#rooms>.form form label{
  /* width: 100%; */
  border: 1px solid green
}
#rooms>.form form input{
  padding: 10px 18px;
  /* width: 100%; */
  height: 20px;
}
#rooms>.form form .in{
  grid-column: 1/3;
  grid-row: 1;
}
#rooms>.form form .out{
  grid-column: 3/5;
  grid-row: 1;
}
#rooms>.form form .rm-adlts{
  grid-column: 5;
  grid-row: 1;
}
#rooms>.form form .rm-kds{
  grid-column: 6;
  grid-row: 1;
}
#rooms>.form form .rm-btn{
  grid-column: 7;
  grid-row: 1;
  /* width: 100%; */
}

.single-room{
  grid-column: 1;
  grid-row: 3;
}
.double-room{
  grid-column: 2;
  grid-row: 3;
}
.deluxe-room{
  grid-column: 3;
  grid-row: 3;
}
.room{
  background-color: #fff;
}
.room img{
  width: 100%;
}
.room>div{
  width: inherit;
  padding: 16px;
  margin-top: -15px;
}
.room-heading-text{
  font-size: 25px;
}
.rooms-button{
  width: 100%;
  height: 44px;
  color: #fff;
  background-color: #171718ee !important;
  border: none;
  font-size: 18px;
}
.rooms-button:hover{
  color: #000;
  background-color: #ccc !important;
  transition-duration: 0.3s;
}
.price{
  color: #ccc;
}